@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{

background:#060b1f;
color:white;
min-height:100vh;

}

.register-page{

display:flex;
min-height:100vh;

}

/* LEFT */

.register-left{

width:50%;
padding:70px;

display:flex;
flex-direction:column;
justify-content:center;

background:#060b1f;

}

.hero-logo{

width:280px;
margin-bottom:35px;

}

.register-left h1{

font-size:54px;
line-height:1.2;
margin-bottom:25px;
font-weight:700;

background:linear-gradient(90deg,#17b8ff,#7b61ff,#ff9800);

-webkit-background-clip:text;
-webkit-text-fill-color:transparent;

}

.register-left p{

font-size:20px;
line-height:1.8;
color:#d7d7d7;
margin-bottom:40px;

}

.feature-list{

display:flex;
flex-direction:column;
gap:18px;

}

.feature{

background:#111c38;
padding:18px 24px;
border-radius:14px;
font-size:18px;
transition:.3s;

}

.feature:hover{

background:#16254c;
transform:translateX(8px);

}

/* RIGHT */

.register-right{

width:50%;
display:flex;
justify-content:center;
align-items:center;
background:#0b132b;

}

/* CARD */

.register-card{

width:460px;

padding:45px;

border-radius:25px;

background:rgba(255,255,255,.06);

border:1px solid rgba(255,255,255,.12);

backdrop-filter:blur(18px);

text-align:center;

box-shadow:0 20px 40px rgba(0,0,0,.45);

}

.register-logo{

width:230px;

margin-bottom:25px;

}

.register-card h2{

font-size:42px;
margin-bottom:12px;

}

.register-card p{

color:#d5d5d5;
margin-bottom:28px;

}

.register-card input{

width:100%;

padding:17px;

margin-bottom:18px;

border:none;

outline:none;

border-radius:12px;

background:#182447;

color:white;

font-size:16px;

}

.register-card input::placeholder{

color:#9aa7cf;

}

.register-card button{

width:100%;

padding:17px;

border:none;

border-radius:12px;

cursor:pointer;

font-size:19px;

font-weight:600;

color:white;

background:linear-gradient(90deg,#17b8ff,#7b61ff,#ff9800);

transition:.3s;

}

.register-card button:hover{

transform:translateY(-4px);

box-shadow:0 12px 30px rgba(0,0,0,.35);

}

.login-link{

margin-top:28px;

color:#d8d8d8;

}

.login-link a{

color:#19b8ff;

font-weight:600;

text-decoration:none;

}

.login-link a:hover{

color:#ff9800;

}

#message{

margin-top:20px;

font-weight:600;

color:#00ff95;

}

/* MOBILE */

@media(max-width:950px){

.register-page{

flex-direction:column;

}

.register-left{

width:100%;
padding:45px;
text-align:center;

}

.register-right{

width:100%;
padding:50px 20px;

}

.hero-logo{

width:220px;
margin:auto auto 30px;

}

.register-left h1{

font-size:42px;

}

.register-card{

width:100%;
max-width:430px;

}

}